@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
h1{
    color: white;
    text-align: center;
}
body {
    background-image: url('https://cdn.pixabay.com/photo/2017/06/17/10/55/hot-air-balloon-2411851__340.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Pattaya", sans-serif;
}
  
label {
    font-size: 30px;
    font-weight: bold;
    color: navy;
}
  
select{
    width: 200px;
    height: 40px;
    font-size: 20px;
    color: blueviolet;
    border-radius: 10px;
    border: 3px solid black;
    margin-top: 20px;
}

.favourites{
    background-color: rgb(193, 250, 101);
    text-align: center;
    width: 500px;
    height: 110px;
    border-radius: 30px;
    border: 5px solid white
}

#color{
    margin-left: 200px;
    margin-top: 150px;
}

#cartoon{
    margin-left: 850px;
    margin-top: -107px;
}

#sport{
    margin-left: 200px;
    margin-top: 150px;
}

#subject{
    margin-left: 850px;
    margin-top: -107px;
}

option{
    font-family: 'Pattaya', sans-serif;
}